@media (min-width: 767px) {
    .wrapper {
        max-width: 835px;
        padding-left: 70px;
        padding-right: 70px;
    }
    .nav-bar {
        &__container {
            margin-bottom: 130px;
        }
        &__menu {
            padding-right: 40px;
            padding-left: 40px;
        }
    }
    .nav-bar-modal__text {
        margin-bottom: 110px;
    }
    .text-block {
        &__header {
            font-size: 45px;
        }
        &__under-header {
            font-size: 27px;
            line-height: 32px;
            width: 440px;
        }
    }
    .info {
        &__blockquote {
            font-size: 18px;
            line-height: 25px;
            &::before {
                margin-left: -25px;
                margin-bottom: -15px;
            }
        }
        &__pathos-text {
            border-left: 3px solid #fcae26;
            padding-left: 25px;
            text-align: left;
            font-size: 20px;
            line-height: 28px;
            &::before {
                content: '';
                display: none;
            }
        }
        &__img--big {
            display: block;
        }
        &__img {
            display: none;
        }
    }
    .details-wrapper {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .details {
        width: 50%;
        max-width: none;
        margin-bottom: 0;
        &__discription {
            line-height: 22px;
        }
        &:nth-last-child(-n + 2) {
            margin-bottom: 65px;
        }
        &:first-child {
            border-right: 1px dashed #e3e3e4;
            border-bottom: 1px dashed #e3e3e4;
        }
        &:last-child {
            border-top: 1px dashed #e3e3e4;
            border-left: 1px dashed #e3e3e4;
        }
    }
    .how-we-do {
        &__name {
            &::before {
                background-image: url(../images/layer6.png);
                @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                    background-image: url(../images/layer6@2x.png);
                }
            }
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__discription {
            width: 40%;
            margin: 0;
            font-size: 16px;
            line-height: 22px;
            &:last-child {
                align-self: flex-start;
                margin-bottom: 70px;
            }
        }
    }
    .structure {
        &__name {
            &::before {
                background-image: url(../images/icon3.png);
                @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                    background-image: url(../images/icon3@2x.png);
                }
            }
        }
        &__ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__list {
            width: 50%;
            margin-right: 0;
            margin-left: 0;
        }
    }
    // Стезя Романа
    .footer {
        &__adress {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 60%;
            margin-bottom: 0;
            &--city {
                width: 192px;
                margin-bottom: 0;
            }
        }
        &__minor-box {
            width: 576px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 0;
            padding-bottom: 0;
            height: 50px;
            align-items: center;
        }
        &__container {
            align-items: flex-start;
        }
        &__button-social {
            align-items: center;
            width: 50%;
            padding-top: 20px;
            margin-bottom: 0;
        }
        &__top-block {
            display: flex;
            width: 100%;
            flex-direction: row;
            padding-bottom: 40px;
        }
        &__background--bottom {
            height: 50px;
        }
        &__top-section {
            display: block;
        }
    }
}